<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_ViewStart</title>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/CSS/ToDo.css")">
</head>
<body>
    <div id="root"></div>
    <script crossorigin src="@Url.Content("~/Content/Scripts/React/React-dev.js")"></script>
    <script crossorigin src="@Url.Content("~/Content/Scripts/React/React-dom-dev.js")"></script>
    <script src="@Url.Content("~/Content/Scripts/React/ToDo/Layout.jsx")"></script>
    <script src="@Url.Content("~/Content/Scripts/React/ToDo/Utils.jsx")"></script>
    <script src="@Url.Content("~/Content/Scripts/React/ToDo/ToDoTable.jsx")"></script>
    @RenderBody()
</body>
</html>
